header {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1%;
  background-color: #5152d4;
}

header #btn-hamburguesa {
  display: none;
}

header i {
  padding: 5px;
  color: aliceblue;
}

header i:hover {
  width: 20px;
  height: 20px;
  border-radius: 44px;
  background-color: white;
  color: #5152d4;
}

header a {
  font-family: 'Radio Canada', sans-serif;
  text-decoration: none;
  color: aliceblue;
  font-weight: 600;
  font-size: 10px;
  padding: 10px;
}

header a:hover {
  background-color: rgba(183, 178, 173, 0.178);
  border-radius: 15px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  width: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header div {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 20%;
  height: 350px;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
}

.card .line {
  border-bottom: 1px solid #ebebeb;
  color: white;
  width: 70%;
}

.card img {
  width: 130px;
  height: 103px;
}

.card .inf {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
  padding-left: 15%;
}

.card .description i {
  padding-right: 2px;
  color: #959499;
}

.card .description h4 {
  padding-bottom: 16px;
}

.card .hiring-reward {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 15%;
  background-color: #fafafe;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .hiring-reward .diner {
  color: #4c60d3;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.card .hiring-reward .diner-description {
  padding-top: 3px;
  font-family: 'Radio Canada', sans-serif;
  color: #c2bed5;
  font-weight: 500;
  font-size: 12px;
}

.card .hiring-reward .icono-reward {
  border-radius: 24px;
  background-color: #fafafe;
  height: 45px;
  width: 45px;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9fb;
}

.card .hiring-reward .icono-reward i {
  padding: 14px;
  color: #5b45e3;
}

.card .hiring-reward .icono-reward:hover {
  background-color: blueviolet;
  color: aliceblue;
}

.carrousel {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  border: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background-color: var(#eff3f6);
}

.cont-menuHamburguesa {
  display: none;
}

.cont-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  background-color: #eff3f6;
}

main {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4%;
}

main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div .text-primary {
  font-family: 'Radio Canada', sans-serif;
  color: #99999d;
  font-weight: 500;
  font-size: 12px;
}

main div .text {
  font-family: 'Kumbh Sans', sans-serif;
  padding-top: 12px;
  padding-bottom: 38px;
  color: #363338;
  font-size: xx-large;
}

main img {
  width: 40%;
}

main .container-search {
  width: 100%;
  position: relative;
}

main .container-search i {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  color: aliceblue;
  border-radius: 30px;
  background-color: #fe9758;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 8px 8px 18px 7px rgba(255, 220, 197, 0.911);
          box-shadow: 8px 8px 18px 7px rgba(255, 220, 197, 0.911);
}

main .container-search input {
  height: 48px;
  width: 100%;
  border-radius: 20px;
  color: #afaeb1;
  padding-left: 38px;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
}

.cont-carrousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 60%;
}

.cont-carrousel .encabezado-carrousel {
  padding-bottom: 20px;
  width: 85%;
  color: #959599;
  color: #959599;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

@media (max-width: 480px) {
  .cont-menuHamburguesa {
    display: none;
  }
  .cont-menuHamburguesa.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: antiquewhite;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont-menuHamburguesa.active ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header {
    width: 50%;
  }
  header nav {
    width: 80%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav div {
    width: 50%;
  }
  header .menu-destop {
    display: none;
  }
  header #btn-hamburguesa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-principal {
    width: 100%;
  }
  header {
    width: 100%;
  }
  main {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main img {
    width: 100%;
  }
  main div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main div .text {
    font-size: large;
  }
  .cont-carrousel {
    position: revert;
  }
  .carrousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carrousel .card {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 1px;
    border: solid;
    border-color: #eff3f6;
  }
}
/*# sourceMappingURL=main.css.map */