$lyrics-footer: #FBFCFC;
$box-shaw: 2px 9px 23px -8px;
//color backgroud
$body-color:rgb(239,243,246);
$card-color:rgb(255,255,255);
$color:rgb(239,243,246);
//color de letras


//pantallas
$smartphone: 480px;